<ng-container *transloco="let t">
  <mat-toolbar color="primary" class="flex justify-between items-center">
    <div class="flex items-center w-full">

      <!-- Desktop Logo/Name -->
      <span class="text-lg font-semibold tracking-wide hidden md:inline-block">MovieHub</span>

      <!-- Mobile burger menu -->
      <button mat-icon-button class="visible md:invisible" (click)="menuToggle.emit()" aria-label="Open menu">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Mobile Logo/Name -->
      <span class="text-lg font-semibold tracking-wide md:hidden ml-auto">MovieHub</span>

      <nav class="hidden md:flex gap-6 ml-auto items-center">
        <a routerLink="/" class="hover:underline">{{ 'menu.home' | transloco }}</a>
        <a routerLink="/" class="hover:underline">{{ 'menu.seen' | transloco }}</a>
        <a routerLink="/" class="hover:underline">{{ 'menu.toWatch' | transloco }}</a>
        <a routerLink="/auth" class="hover:underline">{{ 'menu.signin' | transloco }}</a>
        <div class="ml-20">
          <app-language-selector-component></app-language-selector-component>
        </div>
      </nav>
    </div>
  </mat-toolbar>
</ng-container>
