<mat-sidenav-container class="h-screen">
  <mat-sidenav #drawer class="w-64 bg-gray-900 text-white" mode="over" [fixedInViewport]="true" [opened]="false">
    <app-side-menu-component (close)="drawer.close()"></app-side-menu-component>
  </mat-sidenav>

  <!--mat-sidenav-content class="bg-gray-950 text-white"-->
  <mat-sidenav-content class="bg-gray-950 text-white">
    <app-navbar-menu-component (menuToggle)="drawer.toggle()"></app-navbar-menu-component>
    <main class="p-4">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
